.header {
  @apply h-12 w-full z-10 px-2 flex flex-row justify-between;
  background-color: rgba(255, 255, 255, 0.06);
}

.header-range-wrapper {
  @apply flex flex-row rounded-sm items-center p-1 pl-3 border;
  border-color: #171717;
}

.player-wrapper {
  @apply flex items-center mr-3 px-3 rounded-sm h-8;
  background-color: #191919;
}

.header-midi-name {
  @apply truncate capitalize text-xs text-gray-200 mr-3;
  max-width: 130px;
}

.instrument-list {
  @apply text-xs px-3 py-1 cursor-pointer flex flex-row items-center;
}

.instrument-list:hover {
  color: #ffffff;
  background-color: #1b1b1b;
}

.instrument-list.selected {
  background-color: #3f51b5;
}

.instrument-searchbox {
  @apply mb-3 border-0 px-3 text-xs w-full py-1 outline-none;
  background-color: #3c3c3c;
}
