.vis-wrapper {
  @apply flex flex-row relative flex-1;
}

.vis-wrapper.read-mode {
  transform: rotate(180deg) scaleX(-1);
}

.vis-note-section {
  flex: 1;
}

.vis-note-section:nth-of-type(4n) {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-top-width: 0;
  border-bottom-width: 0;
}

.vis-not-supported {
  @apply absolute text-gray-400 block self-center text-center w-full p-10 text-sm;
  transform: rotate(180deg) scaleX(-1);
}
