{
  "extends": "eslint:recommended",
  "plugins": [
    "react-hooks"
  ],
  "env": { "es6": true },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
