@font-face {
  font-family: "synth";
  src: url("synth.eot?dfbd059233dcbd8f0e9a6a2707c7c929?#iefix")
      format("embedded-opentype"),
    url("synth.woff2?dfbd059233dcbd8f0e9a6a2707c7c929") format("woff2"),
    url("synth.woff?dfbd059233dcbd8f0e9a6a2707c7c929") format("woff");
}

.icon {
  line-height: 1;
}

.icon:before {
  font-family: synth !important;
  font-style: normal;
  font-weight: normal !important;
  vertical-align: top;
}

.icon-close:before {
  content: "\f101";
}
.icon-midi:before {
  content: "\f102";
}
.icon-pause:before {
  content: "\f103";
}
.icon-play:before {
  content: "\f104";
}
.icon-download:before {
  content: "\f105";
}
.icon-play1:before {
  content: "\f106";
}
.icon-record:before {
  content: "\f107";
}
.icon-settings:before {
  content: "\f108";
}
.icon-tracks:before {
  content: "\f109";
}
.icon-upload:before {
  content: "\f10a";
}
.icon-stop:before {
  content: "\f10b";
}
.icon-volume:before {
  content: "\f10c";
}
.icon-volume-mute:before {
  content: "\f10d";
}
