.keys {
  @apply flex select-none;
  transition: all 200ms;
}

.natural-keys {
  @apply z-0 border border-gray-700 border-t-0 rounded-b-sm bg-white flex flex-1 cursor-pointer keys;
  width: auto !important;
  height: 210px;
  border-bottom: 4px solid #90caf9;
}

.natural-keys.__active__ {
  height: 205px;
  background-image: linear-gradient(#42c9ff, #28e6ff);
  border-bottom-color: #42c9ff;
}

.accidental-keys {
  @apply h-24 z-10 border border-black rounded-b-sm bg-black bg-gray-800 absolute top-0 cursor-pointer keys;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
}

.accidental-keys.__active__ {
  height: 5.8rem;
  background-image: linear-gradient(#fbd95c, #fbcf32);
  border-color: #b49b45;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -5px 2px 3px rgba(0, 0, 0, 0.2) inset, 0 2px 4px rgba(0, 0, 0, 0.2);
}

.bingo {
  @apply keys;
  background-image: unset !important;
  background-color: #80f780 !important;
}

.not-this {
  @apply keys;
  background-image: unset !important;
  background-color: #ffbdbd !important;
}
