@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
@import "nprogress/nprogress.css";
@import "simplebar-react/dist/simplebar.min.css";

@import "./variables.css";
@import "./mixins.css";
@import "../components/Piano/piano.css";
@import "../components/Button/button.css";
@import "../components/Visualizer/visualizer.css";
@import "../components/ModeToggle/mode-toggle.css";
@import "../components/Header/header.css";
@import "../components/GlobalHeader/global-header.css";
@import "../components/TrackList/tracklist.css";
@import "../components/ProgressBar/progress-bar.css";
@import "../components/PlaybackSpeed/playback-speed.css";
@import "../components/Error/error.css";
@import "../components/Dropdown/dropdown.css";
@import "../components/PianoRangeSelector/piano-range-selector.css";
@import "../components/Modal/modal.css";
@import "../components/Settings/settings.css";
@import "../components/ReadModeControls/read-mode-controls.css";
@import "../components/Loader/loader.css";
@import "../components/MidiSelect/midi-select.css";

* {
  -moz-osx-font-smoothing: grayscale;
}

.piano-wrapper {
  @apply flex justify-center relative items-center border-t border-black;
}

.staff-visualizer {
  overflow-x: hidden !important;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #353535f0;
  position: absolute !important;
}

.staff-visualizer > div {
  overflow: hidden !important;
  background-color: #1b1b1bf5;
  margin: 15px 0;
}

.staff-visualizer rect {
  fill: #1c1c1c;
}

.staff-visualizer > svg {
  background-color: #1c1c1c;
}

.staff-visualizer g[stroke="rgb(37,243,33)"] path {
  opacity: 1 !important;
}

.simplebar-content {
  width: fit-content;
}
