.prs-content {
  @apply text-white text-xs px-4 py-4 pb-8;
  width: 300px;
}

.prs-label {
  @apply absolute mt-2;
  padding-left: 3px;
}

.prs-thumb {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #fff;
}
