.modal {
  @apply absolute rounded-lg flex;
  background-color: #202020;
  top: 20vh;
  max-height: 60vh;
  max-width: 90vw;
}

.modal-overlay {
  @apply z-50 fixed inset-0 flex justify-center;
  background-color: rgba(0, 0, 0, 0.8);
}
