@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    min-width: 1024px;
}
