@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
