.keys {
  @apply flex select-none;
  transition: all 200ms;
}

.natural-keys {
  @apply z-0 border border-gray-700 border-t-0 rounded-b-lg bg-white flex flex-1 cursor-pointer keys;
  width: auto !important;
  height: 100%;
  border-bottom: 4px solid #a8a8a8;
}

.natural-keys.__active__ {
  border-bottom: 2px solid #787878;
}

.accidental-keys {
  @apply z-10 border border-black rounded-b-sm bg-black bg-gray-800 absolute top-0 cursor-pointer keys;
  height: 60%;
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
}

.accidental-keys.__active__ {
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 0 2px 3px rgba(0, 0, 0, 0.2) inset, 0 2px 4px rgba(0, 0, 0, 0.2);
}

.bingo {
  @apply keys;
  background-image: unset !important;
  background-color: #80f780 !important;
}

.not-this {
  @apply keys;
  background-image: unset !important;
  background-color: #ffbdbd !important;
}
