@import "~tailwindcss/base.css";
@import "~tailwindcss/components.css";
@import "~tailwindcss/utilities.css";
@import "~nprogress/nprogress.css";

@import "./variables.css";
@import "./mixins.css";
@import "../components/Piano/piano.css";
@import "../components/Button/button.css";
@import "../components/Visualizer/visualizer.css";
@import "../components/ModeToggle/mode-toggle.css";
@import "../components/Header/header.css";
@import "../components/GlobalHeader/global-header.css";
@import "../components/TrackList/tracklist.css";
@import "../components/ProgressBar/progress-bar.css";
@import "../components/PlaybackSpeed/playback-speed.css";
@import "../components/Error/error.css";
@import "../components/Dropdown/dropdown.css";
@import "../components/PianoRangeSelector/piano-range-selector.css";
@import "../components/Modal/modal.css";
@import "../components/Settings/settings.css";
@import "../components/ReadModeControls/read-mode-controls.css";
@import "../components/Loader/loader.css";
@import "../components/MidiSelect/midi-select.css";

* {
  -moz-osx-font-smoothing: grayscale;
}

.piano-wrapper {
  @apply flex justify-center relative items-center border-t border-black;
}

.staff-visualizer {
  height: 180px;
  overflow: hidden !important;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff2e;
}

.staff-visualizer > div {
  overflow: hidden !important;
  background-color: #1b1b1b;
}

.staff-visualizer rect {
  fill:  #1c1c1c;
}
