* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Voces", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.instrument-list,
.keyboard-layout-list {
  @apply text-xs px-3 py-1 cursor-pointer flex flex-row items-center;
}

.keyboard-layout-list {
  @apply flex-col px-2 rounded-sm;
  width: 60px;
}

.instrument-list:hover,
.keyboard-layout-list:hover {
  color: #ffffff;
  background-color: #1b1b1b;
}

.instrument-list.selected,
.keyboard-layout-list.selected {
  background-color: #3f51b5;
}

.flex-space-between-center {
  @apply flex flex-row items-center justify-between;
}
