name: Unit and e2e Tests

on: [deployment_status]

jobs:
  build:
    name: Run e2e tests
    runs-on: ubuntu-latest
    env:
      CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: "10.x"
      - run: npm i -g yarn
      - run: yarn && yarn test:e2e:ci
